## 2 pandas基础

### 2.1 文件读取写入

In [1]:
import pandas as pd

In [9]:
pd.read_table('data/my_table.txt',header =  None)

      0     1     2                3
0  col1  col2  col3             col4
1     2     a   1.4   apple 2020/1/1
2     3     b   3.4  banana 2020/1/2
3     6     c   2.5  orange 2020/1/5
4     5     d   3.2   lemon 2020/1/7

In [10]:
# index_col 表示把某一列或几列作为索引
pd.read_csv('data/my_csv.csv',index_col=['col1','col2'])

           col3    col4      col5
col1 col2
2    a      1.4   apple  2020/1/1
3    b      3.4  banana  2020/1/2
6    c      2.5  orange  2020/1/5
5    d      3.2   lemon  2020/1/7

In [11]:
pd.read_csv('data/my_csv.csv')

   col1 col2  col3    col4      col5
0     2    a   1.4   apple  2020/1/1
1     3    b   3.4  banana  2020/1/2
2     6    c   2.5  orange  2020/1/5
3     5    d   3.2   lemon  2020/1/7

In [13]:
#  选择列
pd.read_csv('data/my_csv.csv',usecols=['col1'])

   col1
0     2
1     3
2     6
3     5