## 分组

In [1]:
import pandas as pd
import numpy as np

In [3]:
# df.groupby(分组依据)[数据来源].使用操作
df = pd.read_csv('data/learn_pandas.csv')

In [5]:
df.groupby('School')['Height'].mean()

School
Fudan University                 162.408824
Peking University                162.977419
Shanghai Jiao Tong University    163.932727
Tsinghua University              163.149206
Name: Height, dtype: float64