## 分组

In [1]:
import pandas as pd
import numpy as np

In [2]:
# df.groupby(分组依据)[数据来源].使用操作
df = pd.read_csv('data/learn_pandas.csv')

In [3]:
df.groupby('School')['Height'].mean()

School
Fudan University                 162.408824
Peking University                162.977419
Shanghai Jiao Tong University    163.932727
Tsinghua University              163.149206
Name: Height, dtype: float64

In [4]:
# 条件分组
condition = df.Weight > df.Weight.mean()

In [5]:
condition

0      False
1       True
2       True
3      False
4       True
       ...
195    False
196    False
197    False
198     True
199    False
Name: Weight, Length: 200, dtype: bool

In [6]:
df.groupby(condition)['Height'].mean()

Weight
False    159.034646
True     172.705357
Name: Height, dtype: float64

In [8]:
item = np.random.choice(list('abc'),df.shape[0])

In [9]:
item

array(['c', 'c', 'c', 'a', 'b', 'a', 'b', 'c', 'c', 'b', 'b', 'a', 'c',
       'c', 'a', 'c', 'c', 'a', 'b', 'b', 'a', 'c', 'c', 'b', 'b', 'b',
       'a', 'c', 'b', 'c', 'b', 'c', 'c', 'c', 'b', 'b', 'a', 'c', 'b',
       'b', 'c', 'b', 'b', 'c', 'a', 'a', 'a', 'c', 'c', 'c', 'b', 'a',
       'b', 'c', 'b', 'b', 'c', 'a', 'a', 'c', 'c', 'b', 'a', 'a', 'b',
       'b', 'c', 'b', 'a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'b', 'b',
       'b', 'b', 'a', 'a', 'c', 'c', 'b', 'b', 'a', 'b', 'b', 'a', 'a',
       'b', 'a', 'b', 'b', 'c', 'b', 'c', 'b', 'b', 'b', 'c', 'b', 'a',
       'a', 'b', 'c', 'b', 'b', 'c', 'b', 'b', 'c', 'c', 'c', 'b', 'a',
       'a', 'b', 'c', 'a', 'c', 'b', 'b', 'a', 'b', 'c', 'a', 'a', 'c',
       'a', 'a', 'b', 'a', 'c', 'b', 'c', 'a', 'c', 'b', 'a', 'b', 'c',
       'b', 'b', 'b', 'a', 'a', 'a', 'a', 'a', 'a', 'c', 'b', 'a', 'b',
       'c', 'c', 'a', 'c', 'b', 'b', 'c', 'c', 'a', 'c', 'c', 'b', 'c',
       'c', 'a', 'c', 'b', 'b', 'b', 'b', 'c', 'a', 'b', 'b', 'b', 'b',
       'b', 'c', 'b', 'a', 'c', 'a', 'c', 'c', 'c', 'b', 'a', 'a', 'b',
       'a', 'b', 'a', 'c', 'a'], dtype='<U1')

In [10]:
df.groupby(item)['Height'].mean()

a    161.476000
b    164.380556
c    163.273770
Name: Height, dtype: float64

In [11]:
df

,School,Grade,Name,Gender,Height,Weight,Transfer,Test_Number,Test_Date,Time_Record
0,Shanghai Jiao Tong University,Freshman,Gaopeng Yang,Female,158.9,46.0,N,1,2019/10/5,0:04:34
1,Peking University,Freshman,Changqiang You,Male,166.5,70.0,N,1,2019/9/4,0:04:20
2,Shanghai Jiao Tong University,Senior,Mei Sun,Male,188.9,89.0,N,2,2019/9/12,0:05:22
3,Fudan University,Sophomore,Xiaojuan Sun,Female,NaN,41.0,N,2,2020/1/3,0:04:08
4,Fudan University,Sophomore,Gaojuan You,Male,174.0,74.0,N,2,2019/11/6,0:05:22
...,...,...,...,...,...,...,...,...,...,...
195,Fudan University,Junior,Xiaojuan Sun,Female,153.9,46.0,N,2,2019/10/17,0:04:31
196,Tsinghua University,Senior,Li Zhao,Female,160.9,50.0,N,3,2019/9/22,0:04:03
197,Shanghai Jiao Tong University,Senior,Chengqiang Chu,Female,153.9,45.0,N,1,2020/1/5,0:04:48
198,Shanghai Jiao Tong University,Senior,Chengmei Shen,Male,175.3,71.0,N,2,2020/1/7,0:04:58
199,Tsinghua University,Sophomore,Chunpeng Lv,Male,155.7,51.0,N,1,2019/11/6,0:05:05

In [12]:
df[['School','Gender']].drop_duplicates()

                           School  Gender
0   Shanghai Jiao Tong University  Female
1               Peking University    Male
2   Shanghai Jiao Tong University    Male
3                Fudan University  Female
4                Fudan University    Male
5             Tsinghua University  Female
9               Peking University  Female
16            Tsinghua University    Male

In [14]:
df.groupby([df['School'],df['Gender']])['Height'].mean()

School                         Gender
Fudan University               Female    158.776923
                               Male      174.212500
Peking University              Female    158.666667
                               Male      172.030000
Shanghai Jiao Tong University  Female    159.122500
                               Male      176.760000
Tsinghua University            Female    159.753333
                               Male      171.638889
Name: Height, dtype: float64

In [16]:
df.groupby(['School','Gender'])['Height'].mean()

School                         Gender
Fudan University               Female    158.776923
                               Male      174.212500
Peking University              Female    158.666667
                               Male      172.030000
Shanghai Jiao Tong University  Female    159.122500
                               Male      176.760000
Tsinghua University            Female    159.753333
                               Male      171.638889
Name: Height, dtype: float64

In [26]:
gb = df.groupby(['School','Grade'])

In [22]:
gb.ngroups

16

In [23]:
gb.groups

{('Fudan University', 'Freshman'): [15, 28, 63, 70, 73, 105, 108, 157, 186], ('Fudan University', 'Junior'): [26, 41, 82, 84, 90, 107, 145, 152, 173, 187, 189, 195], ('Fudan University', 'Senior'): [39, 46, 49, 52, 66, 77, 112, 129, 131, 138, 144], ('Fudan University', 'Sophomore'): [3, 4, 37, 48, 68, 98, 135, 170], ('Peking University', 'Freshman'): [1, 32, 35, 36, 38, 45, 54, 57, 88, 96, 99, 140, 185], ('Peking University', 'Junior'): [9, 20, 59, 72, 75, 102, 159, 183], ('Peking University', 'Senior'): [30, 86, 116, 127, 130, 132, 147, 194], ('Peking University', 'Sophomore'): [29, 61, 83, 101, 120], ('Shanghai Jiao Tong University', 'Freshman'): [0, 6, 10, 60, 114, 117, 119, 121, 141, 148, 149, 153, 184], ('Shanghai Jiao Tong University', 'Junior'): [31, 42, 50, 56, 58, 64, 85, 93, 115, 122, 143, 155, 164, 172, 174, 188, 190], ('Shanghai Jiao Tong University', 'Senior'): [2, 12, 19, 21, 22, 23, 79, 87, 89, 103, 104, 109, 123, 134, 156, 161, 165, 166, 171, 192, 197, 198], ('Shanghai Jiao Tong University', 'Sophomore'): [13, 65, 71, 124, 167], ('Tsinghua University', 'Freshman'): [5, 8, 33, 34, 43, 44, 47, 51, 62, 67, 81, 111, 125, 133, 136, 142, 146], ('Tsinghua University', 'Junior'): [7, 11, 16, 17, 27, 69, 94, 95, 113, 118, 128, 137, 150, 154, 158, 160, 162, 163, 169, 176, 177, 191], ('Tsinghua University', 'Senior'): [14, 18, 24, 25, 78, 92, 100, 126, 168, 175, 179, 180, 193, 196], ('Tsinghua University', 'Sophomore'): [40, 53, 55, 74, 76, 80, 91, 97, 106, 110, 139, 151, 178, 181, 182, 199]}

In [24]:
gb.size()

School                         Grade
Fudan University               Freshman      9
                               Junior       12
                               Senior       11
                               Sophomore     8
Peking University              Freshman     13
                               Junior        8
                               Senior        8
                               Sophomore     5
Shanghai Jiao Tong University  Freshman     13
                               Junior       17
                               Senior       22
                               Sophomore     5
Tsinghua University            Freshman     17
                               Junior       22
                               Senior       14
                               Sophomore    16
Name: Height, dtype: int64

In [27]:
# get_group方法，获取所在组对应的行
gb.get_group(('Fudan University','Freshman'))

,School,Grade,Name,Gender,Height,Weight,Transfer,Test_Number,Test_Date,Time_Record
15,Fudan University,Freshman,Changqiang Yang,Female,156.0,49.0,N,3,2020/1/1,0:05:25
28,Fudan University,Freshman,Gaoqiang Qin,Female,170.2,63.0,N,2,2020/1/7,0:05:24
63,Fudan University,Freshman,Gaofeng Zhao,Female,152.2,43.0,N,2,2019/10/31,0:04:00
70,Fudan University,Freshman,Yanquan Wang,Female,163.5,55.0,N,1,2019/11/19,0:04:07
73,Fudan University,Freshman,Feng Wang,Male,176.3,74.0,N,1,2019/9/26,0:03:31
105,Fudan University,Freshman,Qiang Shi,Female,164.5,52.0,N,1,2019/12/11,0:04:23
108,Fudan University,Freshman,Yanqiang Xu,Female,152.4,38.0,N,1,2019/12/8,0:05:03
157,Fudan University,Freshman,Xiaoli Lv,Female,152.5,45.0,N,2,2019/9/11,0:04:17
186,Fudan University,Freshman,Yanjuan Zhao,Female,NaN,53.0,N,2,2019/10/9,0:04:21