## 3 索引

In [3]:
import pandas as pd
import numpy as np

### 3.1 索引器

In [5]:
df = pd.read_csv('data/learn_pandas.csv',usecols=['School', 'Grade', 'Name', 'Gender',
                                                  'Weight', 'Transfer'])

In [6]:
df

,School,Grade,Name,Gender,Weight,Transfer
0,Shanghai Jiao Tong University,Freshman,Gaopeng Yang,Female,46.0,N
1,Peking University,Freshman,Changqiang You,Male,70.0,N
2,Shanghai Jiao Tong University,Senior,Mei Sun,Male,89.0,N
3,Fudan University,Sophomore,Xiaojuan Sun,Female,41.0,N
4,Fudan University,Sophomore,Gaojuan You,Male,74.0,N
...,...,...,...,...,...,...
195,Fudan University,Junior,Xiaojuan Sun,Female,46.0,N
196,Tsinghua University,Senior,Li Zhao,Female,50.0,N
197,Shanghai Jiao Tong University,Senior,Chengqiang Chu,Female,45.0,N
198,Shanghai Jiao Tong University,Senior,Chengmei Shen,Male,71.0,N
199,Tsinghua University,Sophomore,Chunpeng Lv,Male,51.0,N

In [11]:
df['School'].head()

0    Shanghai Jiao Tong University
1                Peking University
2    Shanghai Jiao Tong University
3                 Fudan University
4                 Fudan University
Name: School, dtype: object

In [13]:
df[['School','Grade']]

                            School      Grade
0    Shanghai Jiao Tong University   Freshman
1                Peking University   Freshman
2    Shanghai Jiao Tong University     Senior
3                 Fudan University  Sophomore
4                 Fudan University  Sophomore
..                             ...        ...
195               Fudan University     Junior
196            Tsinghua University     Senior
197  Shanghai Jiao Tong University     Senior
198  Shanghai Jiao Tong University     Senior
199            Tsinghua University  Sophomore

[200 rows x 2 columns]

In [15]:
df.Grade.head()

0     Freshman
1     Freshman
2       Senior
3    Sophomore
4    Sophomore
Name: Grade, dtype: object

In [16]:
# 序列的行索引
s = pd.Series([1, 2, 3, 4, 5, 6],index=['a', 'b', 'a', 'a', 'a', 'c'])

In [21]:
# 切片取数需保障索引是唯一的
s['b':'c':2]

b    2
a    4
c    6
dtype: int64

In [22]:
# series 还可直接以整数为索引，默认从0开始
s[1]

2

In [25]:
s[[2,3]]

a    3
a    4
dtype: int64

In [27]:
# 切片
s[1:-1:1]

b    2
a    3
a    4
a    5
dtype: int64