## 3 索引

In [1]:
import pandas as pd
import numpy as np

### 3.1 索引器

In [2]:
df = pd.read_csv('data/learn_pandas.csv',usecols=['School', 'Grade', 'Name', 'Gender',
                                                  'Weight', 'Transfer'])

In [6]:
df

,School,Grade,Name,Gender,Weight,Transfer
0,Shanghai Jiao Tong University,Freshman,Gaopeng Yang,Female,46.0,N
1,Peking University,Freshman,Changqiang You,Male,70.0,N
2,Shanghai Jiao Tong University,Senior,Mei Sun,Male,89.0,N
3,Fudan University,Sophomore,Xiaojuan Sun,Female,41.0,N
4,Fudan University,Sophomore,Gaojuan You,Male,74.0,N
...,...,...,...,...,...,...
195,Fudan University,Junior,Xiaojuan Sun,Female,46.0,N
196,Tsinghua University,Senior,Li Zhao,Female,50.0,N
197,Shanghai Jiao Tong University,Senior,Chengqiang Chu,Female,45.0,N
198,Shanghai Jiao Tong University,Senior,Chengmei Shen,Male,71.0,N
199,Tsinghua University,Sophomore,Chunpeng Lv,Male,51.0,N

对列经操作

In [11]:
df['School'].head()

0    Shanghai Jiao Tong University
1                Peking University
2    Shanghai Jiao Tong University
3                 Fudan University
4                 Fudan University
Name: School, dtype: object

In [13]:
df[['School','Grade']]

                            School      Grade
0    Shanghai Jiao Tong University   Freshman
1                Peking University   Freshman
2    Shanghai Jiao Tong University     Senior
3                 Fudan University  Sophomore
4                 Fudan University  Sophomore
..                             ...        ...
195               Fudan University     Junior
196            Tsinghua University     Senior
197  Shanghai Jiao Tong University     Senior
198  Shanghai Jiao Tong University     Senior
199            Tsinghua University  Sophomore

[200 rows x 2 columns]

In [15]:
df.Grade.head()

0     Freshman
1     Freshman
2       Senior
3    Sophomore
4    Sophomore
Name: Grade, dtype: object

In [16]:
# 序列的行索引
s = pd.Series([1, 2, 3, 4, 5, 6],index=['a', 'b', 'a', 'a', 'a', 'c'])

In [21]:
# 切片取数需保障索引是唯一的
s['b':'c':2]

b    2
a    4
c    6
dtype: int64

In [22]:
# series 还可直接以整数为索引，默认从0开始
s[1]

2

In [25]:
s[[2,3]]

a    3
a    4
dtype: int64

In [27]:
# 切片
s[1:-1:1]

b    2
a    3
a    4
a    5
dtype: int64

对行进行操作 ：基于元素的loc和基于位置的iloc

In [3]:
df_demo = df.set_index('Name')
df_demo

,School,Grade,Gender,Weight,Transfer
Name,,,,,
Gaopeng Yang,Shanghai Jiao Tong University,Freshman,Female,46.0,N
Changqiang You,Peking University,Freshman,Male,70.0,N
Mei Sun,Shanghai Jiao Tong University,Senior,Male,89.0,N
Xiaojuan Sun,Fudan University,Sophomore,Female,41.0,N
Gaojuan You,Fudan University,Sophomore,Male,74.0,N
...,...,...,...,...,...
Xiaojuan Sun,Fudan University,Junior,Female,46.0,N
Li Zhao,Tsinghua University,Senior,Female,50.0,N
Chengqiang Chu,Shanghai Jiao Tong University,Senior,Female,45.0,N
Chengmei Shen,Shanghai Jiao Tong University,Senior,Male,71.0,N
Chunpeng Lv,Tsinghua University,Sophomore,Male,51.0,N

In [34]:
# 如果唯一，则为series，如果不唯一则是dataframe
df_demo.loc['Gaopeng Yang']

School      Shanghai Jiao Tong University
Grade                            Freshman
Gender                             Female
Weight                               46.0
Transfer                                N
Name: Gaopeng Yang, dtype: object

In [36]:
df_demo.loc['Qiang Sun']

                                  School      Grade  Gender  Weight Transfer
Name
Qiang Sun            Tsinghua University     Junior  Female    53.0        N
Qiang Sun            Tsinghua University  Sophomore  Female    40.0        N
Qiang Sun  Shanghai Jiao Tong University     Junior  Female     NaN        N

In [37]:
# 同时选择行和列
df_demo.loc['Qiang Sun','School']

Name
Qiang Sun              Tsinghua University
Qiang Sun              Tsinghua University
Qiang Sun    Shanghai Jiao Tong University
Name: School, dtype: object

In [38]:
df.loc[3]

School      Fudan University
Grade              Sophomore
Name            Xiaojuan Sun
Gender                Female
Weight                  41.0
Transfer                   N
Name: 3, dtype: object

In [40]:
# 根据条件取数
df_demo.loc[df_demo.Weight>70]

,School,Grade,Gender,Weight,Transfer
Name,,,,,
Mei Sun,Shanghai Jiao Tong University,Senior,Male,89.0,N
Gaojuan You,Fudan University,Sophomore,Male,74.0,N
Xiaopeng Zhou,Shanghai Jiao Tong University,Freshman,Male,74.0,N
Xiaofeng Sun,Tsinghua University,Senior,Male,71.0,N
Qiang Zheng,Shanghai Jiao Tong University,Senior,Male,87.0,N
Gaoli Zhao,Peking University,Freshman,Male,78.0,N
Xiaojuan Qin,Peking University,Freshman,Male,79.0,Y
Qiang Han,Peking University,Freshman,Male,87.0,N
Li Wang,Tsinghua University,Sophomore,Male,79.0,N
Chunqiang Chu,Fudan University,Junior,Male,72.0,N
Mei Xu,Fudan University,Sophomore,Male,79.0,N
Chengpeng Zhou,Fudan University,Senior,Male,81.0,N
Feng Han,Shanghai Jiao Tong University,Sophomore,Male,82.0,N
Feng Wang,Fudan University,Freshman,Male,74.0,N
Yanli Qin,Tsinghua University,Sophomore,Male,74.0,Y
Changfeng Lv,Fudan University,Junior,Male,76.0,N
Yanfeng Qian,Tsinghua University,Junior,Male,75.0,N
Changpeng Zhao,Peking University,Freshman,Male,83.0,N
Chunli Zhao,Shanghai Jiao Tong University,Freshman,Male,83.0,N
Changquan Han,Peking University,Senior,Male,77.0,N
Chengpeng Qian,Fudan University,Senior,Male,73.0,Y
Gaoli Zhao,Shanghai Jiao Tong University,Senior,Male,83.0,N
Changmei Lv,Shanghai Jiao Tong University,Freshman,Male,75.0,N
Chengqiang Zhang,Tsinghua University,Junior,Male,76.0,N
Chunfeng Zhao,Tsinghua University,Junior,Male,72.0,N
Xiaofeng Zhang,Shanghai Jiao Tong University,Senior,Male,80.0,N
Gaoqiang Qin,Tsinghua University,Junior,Male,71.0,N
Li Qin,Tsinghua University,Sophomore,Male,76.0,N
Peng Wang,Tsinghua University,Senior,Male,73.0,N
Xiaoqiang Qian,Tsinghua University,Sophomore,Male,73.0,N
Qiang Feng,Shanghai Jiao Tong University,Freshman,Male,80.0,N
Xiaoqiang Qin,Tsinghua University,Senior,Male,79.0,N
Chengmei Shen,Shanghai Jiao Tong University,Senior,Male,71.0,N

In [42]:
df_demo.loc[df_demo.Grade.isin(['Senior','Freshman'])]

,School,Grade,Gender,Weight,Transfer
Name,,,,,
Gaopeng Yang,Shanghai Jiao Tong University,Freshman,Female,46.0,N
Changqiang You,Peking University,Freshman,Male,70.0,N
Mei Sun,Shanghai Jiao Tong University,Senior,Male,89.0,N
Xiaoli Qian,Tsinghua University,Freshman,Female,51.0,N
Qiang Chu,Shanghai Jiao Tong University,Freshman,Female,52.0,N
...,...,...,...,...,...
Xiaoqiang Qin,Tsinghua University,Senior,Male,79.0,N
Yanmei Qian,Peking University,Senior,Female,49.0,NaN
Li Zhao,Tsinghua University,Senior,Female,50.0,N
Chengqiang Chu,Shanghai Jiao Tong University,Senior,Female,45.0,N
Chengmei Shen,Shanghai Jiao Tong University,Senior,Male,71.0,N

iloc 通过位置对行进行操作

In [4]:
df_demo.iloc[1]

School      Peking University
Grade                Freshman
Gender                   Male
Weight                   70.0
Transfer                    N
Name: Changqiang You, dtype: object

In [11]:
# 使用布尔列表的时候不能直接使用，需要通过values转换为values
df_demo.iloc[(df_demo.Weight>80).values]

,School,Grade,Gender,Weight,Transfer
Name,,,,,
Mei Sun,Shanghai Jiao Tong University,Senior,Male,89.0,N
Qiang Zheng,Shanghai Jiao Tong University,Senior,Male,87.0,N
Qiang Han,Peking University,Freshman,Male,87.0,N
Chengpeng Zhou,Fudan University,Senior,Male,81.0,N
Feng Han,Shanghai Jiao Tong University,Sophomore,Male,82.0,N
Changpeng Zhao,Peking University,Freshman,Male,83.0,N
Chunli Zhao,Shanghai Jiao Tong University,Freshman,Male,83.0,N
Gaoli Zhao,Shanghai Jiao Tong University,Senior,Male,83.0,N

In [10]:
(df_demo.Weight>80).values

array([False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True, False, False, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])